################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SGRP.Aliexpress/ConsoleApp1/bin/Debug/netcoreapp2.2
/SGRP.Aliexpress/ConsoleApp1/obj
/SGRP.Aliexpress/SGRP.Aliexpress.Bussiness/bin/Debug/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.Bussiness/obj/Debug/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.CrawlService/obj/Debug/netcoreapp3.1
/SGRP.Aliexpress/SGRP.Aliexpress.CrawlService/obj
/SGRP.Aliexpress/SGRP.Aliexpress.Data/bin/Debug/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.Data/obj/Debug/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.Data/obj
/SGRP.Aliexpress/SGRP.Aliexpress.Bussiness/obj
/SGRP.Aliexpress/.vs/SGRP.Aliexpress/v16
/SGRP.Aliexpress/SGRP.Aliexpress.CrawlService/bin/Debug
/SGRP.Aliexpress/SGRP.Aliexpress.Web/bin/Debug/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.Web/obj/Debug/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.Web/obj
/SGRP.Aliexpress/SGRP.Aliexpress.Bussiness/bin/Release/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.CrawlService/bin/Release/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.Data/bin/Release/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.Helper/bin/Debug
/SGRP.Aliexpress/SGRP.Aliexpress.Helper/obj/Debug/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.Helper/obj
/SGRP.Aliexpress/SGRP.Aliexpress.Web/bin/Release/netcoreapp2.2
/SGRP.Aliexpress/SGRP.Aliexpress.Helper/bin/Release/netcoreapp2.2
