@{
    ViewData["Title"] = "Home Page";
    
}
@model SGRP.Aliexpress.Bussiness.Models.RedisCategoryUrlModel
<div class="container">
    <input type="hidden" id="signalRCounterHidden" value="0"/>

    <form id="frm_ss" method="post">

        <fieldset class="border p-2">
            <legend class="w-auto">Categories & Store URL</legend>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4" style="text-align: center;">
                    <input type="button" value="Add" onclick="AddTextBox()" class="btn btn-dark" style="width: 150px" />
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    <div id="divCont">

                    </div>
                </div>
            </div>
        </fieldset>

        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6" style="text-align: right;">
                @if (ViewBag.IsEnabled)
                {
                    <button class="btn btn-primary" id="btnStart" style="width: 120px;" disabled="disabled">START</button>
                }
                else
                {
                    <button class="btn btn-primary" id="btnStart" style="width: 120px;">START</button>
                }
            </div>
            <div class="col-6">
                <button  class="btn btn-primary" id="btnCancel" style="width: 120px;">CANCEL ALL</button>
            </div>
        </div>
    </form>

</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        Total Done: &nbsp;&nbsp;&nbsp;<label id="messagesList"></label>
    </div>
</div>

@section Scripts{
    <script>
        function AddTextBox() {

            var div = document.createElement('DIV');
            div.innerHTML = GetDynamicTextbox();
            document.getElementById("divCont").appendChild(div);
        }

        function GetDynamicTextbox() {

            var id = parseInt($('#signalRCounterHidden').val()) + 1;
            $('#signalRCounterHidden').val(id);

            return '<div id="frd" class="form-row">' +
                '<div style="padding-top: 8px;" class="col-md-2 mb-2">Done: <label id= "txtSignalR-' +
                id +
                '"></label></div>' +
                '<div id = "fr" class="col-md-7 mb-3" >' +
                '<input type="text" name="Urls" id="Urls" class="form-control" /></div >' +
                '<div ="cd" class="col-md-3 mb-3" > <input type="button" onclick="RemoveTextBox(this)" value="Remove" class="btn btn-primary" /></div ></div > ';
        }

        function RemoveTextBox(div) {
            var id = parseInt($('#signalRCounterHidden').val()) - 1;
            $('#signalRCounterHidden').val(id);

            document.getElementById("divCont").removeChild(div.parentNode.parentNode.parentNode);
        }

        $("#frm_ss").submit(function(e) {
            e.preventDefault();

            var id = $(document.activeElement).attr('id');
            if (id === "btnStart") {

                $('#btnStart').prop('disabled', true);

                $.ajax({
                    url: '/Home/RedisCategory',
                    data: $("#frm_ss").serialize()
                }).done(function() {

                });
            } else {
                $.ajax({
                    url: '/Home/Cancel',
                    data: {}
                }).done(function() {

                });
            }


        });
    </script>

}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
